{%extends 'index.html'%}
{%load staticfiles%}

{% block 'service'%}
{% endblock %}

{% block 'banner'%}
{% endblock %}

{% block 'about'%}
{% endblock %}

{% block 'project'%}
{% endblock %}

{% block 'contact'%}
{% endblock %}

{% block 'input'%}
{% endblock %}

{% block 'footer'%}
{% endblock %}

{% block 'pricing'%}
<div id="pricing" class="pricing-tables">
  <div class="tables-left-dec">
    <img src="{%static 'assets/images/tables-left-dec.png' %}" alt="">
  </div>
  <div class="tables-right-dec">
    <img src="{%static 'assets/images/tables-right-dec.png' %}" alt="">
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-6 offset-lg-3">
        <div class="section-heading">
          <h2>Select a suitable <em>plan</em> for your  <span>projects</span></h2>
          <span>Our Plans</span>
        </div>
      </div>
    </div>
    
    <div class="row">
      
      {% for i in pobj%}
      <div class="col-lg-4">
        <div class="item first-item" style="margin-top: 50px;">
          <h1 style="text-transform: capitalize; font-weight: bold;">{{i.plan_n.plan_name}}</h1>
          <span style="margin-top: 30px; font-size: 25px;">${{i.plan_n.price_mon}}/{{i.plan_n.month}}month</span>
          <span style= "font-size: 25px;">or</span>
         
          <span style= "font-size: 25px;">${{i.plan_n.price_year}}/{{i.plan_n.year}}year</span>
          <ul>
            <li style="font-size:20px; color: black;"><i class="fa fa-check" aria-hidden="true" style= "color:chartreuse;"></i> {{i.plan}}</li>
            
          </ul>
          <div class="main-blue-button-hover">
            <a href="/home/#contact">choose plan</a>
          </div>
        </div>
      </div>
      {% endfor %}
      </div>
      
    </div>
    </div>
  </div>
</div>
{% endblock %}
